* {
    box-sizing: border-box;
}

#mainBg {
    background-color: #f9cfff;
}

#panelInitInterval, #game, #finishPanel {
    background-color: white;
    border: 2px solid gray;
    border-radius: 20px;
}

.inputGap {
    gap: 10px;
}

.bold {
    font-weight: 600;
}

.bold-sm {
    font-weight: 600;
}

.result {
    border: 2px dotted blue;
    border-radius: 20px;
    padding: 10px;
}